*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background: #1C1B21;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input {
  outline: none;
  border: none;
  cursor: pointer;
}

._container {
  max-width: 111rem;
  margin: auto;
  position: relative;
  z-index: 100;
}

.first-screen {
  min-height: 100vh;
  position: relative;
  z-index: 99;
}
.first-screen > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  max-height: 100vh;
  object-fit: cover;
  z-index: 1;
}
.first-screen .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 2;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, #1C1B21 92.19%);
}

html, body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
.header img {
  max-width: 22.3rem;
  margin-right: 6.5rem;
}
.header__nav ul {
  display: flex;
  align-items: center;
}
.header__nav ul li {
  font-size: 1.8rem;
  line-height: 27px;
  font-weight: 600;
}
.header__nav ul li:not(:last-child) {
  margin-right: 5.6rem;
}

@media (max-width: 865px) {
  .header {
    flex-direction: column;
    padding-top: 2rem;
  }
  .header img {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
@media (max-width: 645px) {
  .header ul {
    display: none;
  }
}
.main {
  margin-top: 16.2rem;
}
.main h1 {
  font-size: 4.8rem;
}
.main h1 span {
  display: block;
  font-size: 10rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.1rem #ffffff;
}
.main .player {
  display: flex;
  align-items: center;
}
.main .player__time {
  display: flex;
}
.main .player img {
  width: 2.5rem;
  height: 2.2rem;
  cursor: pointer;
}
.main .player span {
  font-size: 1.8rem;
  font-weight: 500;
}
.main .player .progress_container {
  max-width: 88.7rem;
  width: 100%;
  background: white;
  height: 0.1rem;
  margin: 0 4.7rem 0 4.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.main .player .progress_container .progress {
  background: #7A66CC;
  height: 0.1rem;
}
.main .player .progress_container .progress_btn {
  cursor: pointer;
  height: 2rem;
  width: 0.1rem;
  background: #7A66CC;
}

@media (max-width: 1130px) {
  .main {
    padding: 0 1rem;
  }
}
@media (max-width: 865px) {
  .main {
    margin-top: 12rem;
    text-align: center;
  }
  .main h1 {
    font-size: 3.5rem;
  }
  .main h1 span {
    font-size: 7.6rem;
  }
}
@media (max-width: 760px) {
  .main .player {
    flex-direction: column;
  }
  .main .player .progress_container {
    margin: 2rem 0;
    width: 85%;
  }
}
.news {
  margin-top: 13rem;
}
.news__list {
  display: flex;
  align-items: center;
}
.news__block {
  position: relative;
  width: 100%;
  max-width: 35rem;
  max-height: 30rem;
  height: 100vh;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}
.news__block img {
  width: 100%;
  max-width: 35rem;
  height: 30rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.news__block:not(:last-child) {
  margin-right: 3rem;
}
.news__text {
  max-width: 35rem;
  width: 100%;
  max-height: 9rem;
  background: rgba(122, 102, 204, 0.7);
  border-radius: 20px 0;
}
.news__text p {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 2.1rem 2rem;
}

@media (max-width: 865px) {
  .news__list {
    flex-direction: column;
  }
  .news__block:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1.4rem;
  }
}
@media (max-width: 380px) {
  .news__block p {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
