.header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 3rem;
	img {
		max-width: 22.3rem;
		margin-right: 6.5rem;
	}

	&__nav {
		ul {
			display: flex;
			align-items: center;
			li {
				font-size: 1.8rem;
				line-height: 27px;
				font-weight: 600;

				&:not(:last-child) {
					margin-right: 5.6rem;
				}
			}
		}
	}
}


@media (max-width: 865px) {
	.header {
		flex-direction: column;
		padding-top: 2rem;
		img {
			margin-right: 0;
			margin-bottom: 2rem;
		}
	}
}

@media (max-width: 645px) {
	.header {
		ul {
			display: none;
		}
	}
}