- const contactSocials = ['apple', 'spotify', 'inst', 'yt', 'twitter', 'fb'];

section.contacts#contacts
	.contacts__logo
		img(src="img/logo.svg", alt="")
	.contacts__text
		.contacts__titles
			h3 Artist Management:
			h3 Email:
		.contacts__content
			p Jake Henny
			p Jake@BrightLightOfficial.com
	.contacts__socials
		each soc in contactSocials
			a(href="#") <img src="img/#{soc}.svg", alt="">
			- ;
	.contacts__copy
		p © 2020 DJ bright lights.