section.main
	h1.
		New Single
		<span>War For Love</span>
	.player
		audio(src="audio/Bright Lights - War For Love.mp3").music
		img(src="img/play.svg", alt="", class="play")
		.progress_container
			.progress
			.progress_btn
		.player__time
			span.current-time 00:00
			span -
			span.max-time 02:54