section.media#media
	.media__img
		img(src="img/img-right.jpg", alt="").gr-right
		.media__bottom
			.media__text
				h3 EDC Las Vegas Mainstage
			img(src="img/img-bottom.jpg", alt="")
		img(src="img/img-left.jpg", alt="").gr-left
		img(src="img/img-top1.jpg", alt="").gr-top1
		img(src="img/img-top2.jpg", alt="").gr-top2