section.quote
	.quote__block
		.quote__wrap
			.quote__text
				img(src="img/quote.svg", alt="").quote__bg
				p.
					“In an age where mainstream music is designed to be as easily consumed as possible, listening to Bright Lights is refreshing, to say the least. Her sound is perfect for radio but complex enough to separate her from other pop newcomers.”
				.hl
				a(href="#") PopULove.net
			.quote__img
				img(src="img/quote.jpg", alt="")