extends base
include pug/mixin
block content
	.first-screen
		img(src="img/bg.jpg", alt="bg")
		.gradient
		._container
			include pug/components/header
			main
				audio(src="audio/Bright Lights, Kaleena Zanders, Kandy — War For Love.mp3").music
				include pug/components/main
				include pug/components/news
	._container
		main
			include pug/components/about
			include pug/components/quote
			include pug/components/tracks
			include pug/components/media
			include pug/components/tours