extends base
block content
	.first-screen
		img(src="img/bg.jpg", alt="bg")
		.gradient
		._container
			include pug/components/header
			main
				include pug/components/main
				include pug/components/news